@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lobster&display=swap&family=Josefin+Sans&family=Edu+NSW+ACT+Foundation:wght@600&family=Indie+Flower&family=Kalam:wght@300&family=Nabla&family=Permanent+Marker&family=Poppins:ital,wght@1,300&family=Roboto:ital,wght@0,400;1,300&family=Rubik+Dirt&family=Silkscreen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(0, 247, 255);
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.575);
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-family: "Indie Flower", cursive;
  font-size: 40px;
}

.container div {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.home-score,
.guest-score {
  font-size: 50px !important;
}

.btn {
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background: black;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  margin-bottom: 10px;
}

.btn:hover {
  border-color: black;
  color: white;
  transform: scale(1.1);
}

.btn:active {
  background: black;
  color: white;
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.controls button {
  margin: 0 10px;
  border: 1px solid transparent;
  background: none;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.controls button:hover {
  border-color: black;
}

.scroll {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.scroll a {
  text-decoration: none;
  color: black;
}

.scroll .saved-scroll {
  font-size: 25px;
  font-family: "Permanent Marker";
}

.scroll i {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.scores {
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 105px;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 20px;
  padding-bottom: 50px;
}

.scores li {
  list-style: none;
  font-size: 20px;
}

.savedTitle {
  position: absolute;
  top: 104%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Lobster", cursive;
  text-decoration: underline;
}

.dark-mode,
.light-mode {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  cursor: pointer;
}

.light-mode {
  display: none;
}

.dark-mode i,
.light-mode i {
  font-size: 40px;
}

.delete {
  position: absolute;
  top: 104%;
  left: 0.4%;
  cursor: pointer;
  padding: 10px;
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid red;
  background: red;
  font-weight: bold;
}

.delete:hover {
  background: none;
  color: red;
  box-shadow: 3px 3px 10px 1px rgba(128, 128, 128, 0.356);
}

@media screen and (max-width: 650px) {
  .controls {
    justify-content: center;
  }
  .controls button {
    width: 100%;
  }
}

@media screen and (max-width: 1350px) {
  .container {
    width: 50%;
  }
}
@media screen and (max-width: 990px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .savedTitle {
    font-size: 18px;
  }
  .scores {
    padding-top: 80px;
  }
  .delete {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
  }
  .scores li {
    font-size: 15px;
  }
}
@media screen and (max-width: 430px) {
  .container {
    display: block;
  }
  .guest {
    margin-top: 100px;
  }
}

@media screen and (max-width: 242px) {
  .savedTitle {
    font-size: 11px;
  }
  .delete {
    font-size: 11px;
    padding: 0;
    border-radius: 3px;
  }
  .scores li {
    font-size: 8px;
  }
}

@media screen and (max-height: 656px) {
  .scores {
    margin-top: 50px;
  }
  .savedTitle {
    top: 116%;
  }
  .delete {
    top: 116%;
  }
}

@media screen and (max-height: 430px) {
  .scores {
    margin-top: 70px;
  }
  .savedTitle {
    top: 120%;
  }
  .delete {
    top: 120%;
  }
}

@media screen and (max-height: 780px) {
  .scroll {
    margin-top: 50px;
  }
  .scores {
    margin-top: 90px;
  }
  .savedTitle {
    top: 118%;
  }
  .delete {
    top: 118%;
  }
}
